/*---------------------- General --------------------*/

body {
    font-family: 'Margarine', cursive;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}

/*----------------------background colours --------------------*/

.footer-bg-colour {

    background-color: rgb(211, 211, 211);

}

/*----------------------nav --------------------*/

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .95;
    border: 0;
    position: fixed;
    z-index: 1;

}

/*changing color of nav button to match colour scheme */

.navbar-custom {
    background-color: #45a29e;
}


.navbar-brand {
    padding: 5px 10px;
    background-color: #45a29e;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Top Intro section on each page*/

.intro-container {
    height: 70vh;
    background: url('../images/background-monkees.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;

}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .intro-text {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron-content {}

/*----------------------triple module section on homepage --------------------*/

.triple-module {
    margin: 2%;
    border-color: #45a29e;
    z-index: -2;
}

.card {
    border: none;
}

.btn-primary {
    color: #fff;
    background-color: #45a29e;
    border-color: #398582;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: 398582;
    border-color: #45a29e;
     
}

.card-body {
    text-align: center;
}

.fa-play-circle {

    font-size: 40px;
    padding: 3px;
    color: #45a29e;

}

.fa-newspaper {
    font-size: 40px;
    padding: 3px;
    color: #45a29e;
}

.fa-file-signature {
    font-size: 40px;
    padding: 3px;
    color: #45a29e;
}

.fa-film {
    font-size: 20px;
    padding: 3px;
    color: #45a29e;
}

.fa-music {
    font-size: 20px;
    padding: 3px;
    color: #45a29e;
}

.fa-smile-beam {
    font-size: 40px;
    padding: 3px;
    color: #45a29e;
}

/*----------------------video player in homepage --------------------*/

.text-intro {
    text-align: center;
    margin: 5% 13%;

}

/*----------------------footer --------------------*/

/* recoding footer after feedback*/

.footerContent {
    background-color: black;
    height: auto;


}

.socail-links {
    margin: 0;
    padding: 0;
}

.text-footer {
    margin-top: 5px;
    margin-bottom: 8x padding: 0px;
    font-size: xx-small;
}

.icons {
    width: 15px;
    margin-top: 10px;
}

/*-------------------------------audio section-----------------------------*/

audio {
    width: 100%;
    height: 40px;
}

.audio-image {
    height: auto;
    width: 100%;
    margin-bottom: 5%;

}

.modal-dialog {
    font-size: xx-small;
    max-width: 90%;
    margin-left: 7;
}

.modal-content {
    padding-left: 10%;
    background-image: url('../images/blank-notebook.jpg');
    background-size: cover;
    font-family: 'Gochi Hand', cursive;
    color: blue;
    font-size: 1.5em;
    max-width: 600px;
    padding: 0;
    padding-left: 5%
}

.modal-body {
    padding-top: 0px margin-top: 0px;
}

.modal-header {
    max-width: 95%;
    border-color: transparent;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.close {
    font-size: 3.5em;
}

/* -------------------------------image carousel---------------------------- */

.carousel-inner img {
    width: 90%;
    height: 90%;
}

/* -------------------------------contact form---------------------------- */

.form-group {

    text-align: left;
    border-color: #45a29e;
}

/* -------------------------------events section---------------------------- */

.text-event {
    margin-top: 10px;
    margin: 5% 13%;


}

.event-line {
    color: #45a29e;
    display: block;
    border-top: solid #45a29e;
    width: 100%;



}

/* --------------------------------event section--------------------------- */

/* -------------------------------media queries---------------------------- */

/* ensuring that content centres on mobile device when footer sections stack */

@media screen and (max-width: 567px) {
    .social-links {

        float: none;
        text-align: center;

    }
    .footer-text {
        text-align: center;

    }
}

/* reducing margins of main paragraaph sections on mobile views */

@media screen and (max-width: 567px) {
    .text-intro {
        text-align: center;
        margin: 0;

    }
}

/* ensure dropdown is visible on mobile due to transparency of full size nav */

@media screen and (max-width: 567px) {
    .navbar-collapse {
        background-color: #45a29e;
        opacity: .98;
        padding-left: 20px;

    }
}

/*--aligning text for video section on home for screens greater than mobile --*/

@media screen and (min-width: 568px) {

    .text-intro {
        margin-left: 13%;
        margin-right: 13%;
    }
}

/*--aligning lyrics for audio section for screens larger than mobile --*/

@media screen and (min-width: 568px) {

    .modal-dialog {

        max-width: 60%;
        margin-left: 10%;
    }
