/*---------------------- General --------------------*/

body {
    font-family: 'Margarine', cursive;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}

/*----------------------background colours --------------------*/

.footer-bg-colour {

    background-color: rgb(211, 211, 211);

}

/*----------------------nav --------------------*/

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .95;
    border: 0;
    position: fixed;
    z-index: 1;

}

/*changing color of nav button to match colour scheme */

.navbar-custom {
    background-color: #45a29e;


}


.navbar-brand {
    padding: 5px 10px;
    background-color: #45a29e;
   
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar{
    opacity: .9;
}

/* Top Intro section on each page*/

.intro-container {
    height: 80vh;
    background: url('../images/background-monkees.jpg') no-repeat  fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;

}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .intro-text {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron-content {}

/*----------------------triple module section on homepage --------------------*/

.triple-module {
    margin: 2%;
    border-color: #45a29e;
    z-index: -2;
}

.card {
    border: none;
}

.btn-primary {
    color: #fff;
    background-color: #45a29e;
    border-color: #66fcf1;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #66fcf1;
    border-color: #45a29e;
}

.card-body {
    text-align: center;
}


/*----------------------video player in homepage --------------------*/

.text-intro {
    text-align: center;

}

/*----------------------footer --------------------*/

footer {

    color: #fafafa;
    min-height: 80px;
    margin: 0;

}

.social-links {
    padding-bottom: 6px;
    padding-top: 10px;
    position: relative;
    float: right;
    clear: both;
}

.social-links li a i {
    width: 24px;
    height: 24px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #45a29e;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #66fcf1;
}

.footer-text {
    padding: 12px;
    font-size: 13px;
    line-height: 15px;
    color: #fafafa;
    background-color: #45a29e;


}


/* -------------------------------image carousel---------------------------- */
  .carousel-inner img {
      width: 90%;
      height: 90%;
  }

/* -------------------------------contact form---------------------------- */

.form-group {

    text-align: left;
    border-color: #45a29e;
}
/* -------------------------------media queries---------------------------- */

/* ensuring that content centres on mobile device when footer sections stack */

@media screen and (max-width: 567px) {
    .social-links {

        float: none;
        text-align: center;

    }
    .footer-text {
        text-align: center;
    }
}

/* ensure dropdown is visible on mobile due to transparency of full size nav */

@media screen and (max-width: 567px) {
    .navbar-collapse {
        background-color: #45a29e;
        opacity: .98;
        padding-left: 20px;

    }
}

/*--aligning text for video section on home for screens greater than mobile --*/
@media screen and (min-width: 568px) {

    .text-intro {
        margin-left: 13%;
        margin-right: 13%;
    }
}

@media screen and (min-width: 568px) {
.alignsubmit{
    
}
